<div class="form-header">
    <% if (Object.keys(errors).length === 0) { %>
    <h2>Enter Patient Name</h2>
  <% } else { %>
    <h2 class="errors-heading">Oops, please correct the following:</h2>
    <ul class="errors-list">
      <% Object.values(errors).forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
  </div>

  <form method="post" action="/patient-name" novalidate>
      <div class="form-field <%= errors.firstName ? 'form-field-invalid' : '' %>">
      <label for="firstName">First Name</label>
      <textarea class="input" id="firstName" name="firstName" rows="1" autofocus><%= data.message %></textarea>
      <% if (errors.message) { %>
        <div class="error"><%= errors.message.msg %></div>
    <% } %>
    </div>
    <div class="form-field <%= errors.lastName ? 'form-field-invalid' : '' %>">
      <label for="lastName">Last Name</label>
      <textarea class="input" id="lastName" name="LastName" rows="1" autofocus><%= data.message %></textarea>
      <% if (errors.lastName) { %>
        <div class="error"><%= errors.lastName.msg %></div>
      <% } %>
    </div>
    <div class="form-actions">
      <button class="btn" type="submit">Send</button>
    </div>
  </form>